body{
  font-family: Arial;
  background-color:#f2f2f2;
}

.student-container{
  display:flex;
  justify-content:center;
  gap:20px;
  padding:20px;
}

.student-card{
  border:2px solid green;
  padding:20px;
  border-radius:10px;
  background:white;
}